extends layout

block content
  div
    a.btn.btn-primary.btn-block.btn-lg(href='/movies/list', role='button') Check your Watchlist
  br
  div
    a.btn.btn-primary.btn-block.btn-lg(href='/movies/add', role='button') Add a new movie
